<!doctype html>
<html lang="it">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>404 | Alessandro Bartoli</title>
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel="stylesheet" href="/styles.css" />
      <style>
         @font-face {
            font-family: "JetBrains Mono Variable";
            src: url("/fonts/JetBrainsMono-Variable.woff2") format("woff2");
            font-weight: 100 800;
            font-style: normal;
            font-display: swap;
         }
      </style>
   </head>
   <body>
      <div
         class="bg-zinc-900 text-zinc-100 selection:bg-slate-500 selection:text-white flex flex-col min-h-dvh"
         style="font-family: 'JetBrains Mono Variable', monospace"
      >
         <div
            class="mx-auto flex-1 flex flex-col justify-center max-w-[1000px] p-8 sm:p-10 md:p-16 lg:p-20 text-sm sm:text-base md:text-lg lg:text-xl prose prose-invert"
         >
            <div class="p-16 text-base sm:text-base md:text-xl lg:text-2xl">
               <h1 class="mb-12">Page not found (404)</h1>
               <p class="mb-12">
                  Sorry, we couldn't find what you were looking for.
                  <br /><br /><br /><br />
                  <a href="/" class="text-green-400 hover:text-green-200 underline">Back to home</a>
               </p>
            </div>
         </div>
      </div>
   </body>
</html>
