@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
   .prose-invert ul > li::marker {
      color: theme("colors.slate.300") !important;
      cursor: pointer;
   }

   .prose-invert ul > li {
      cursor: pointer;
   }
}

@keyframes typing-blink {
   0%,
   100% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
}
